<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Ohmyfood</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="../images/favicon.ico" />

    <!-- fontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- variables -->
    <link rel="stylesheet" href="../styles/variables.css" />

    <!-- globalStyle -->
    <link rel="stylesheet" href="../styles/globalStyle.css" />

    <!-- styles -->
    <link rel="stylesheet" href="../styles/headerSub.style.css" />
    <link rel="stylesheet" href="../styles/views.style.css" />
    <link rel="stylesheet" href="../styles/footer.style.css" />

    <!-- mobiles -->
    <link rel="stylesheet" href="../styles/footer.mobile.css" />
    <link rel="stylesheet" href="../styles/views.mobile.css" />

    <!-- modules -->
    <script src="../modules/include.js" defer></script>
  </head>
  <body>
    <!-- components -->
    <div data-include-path="../components/headerSub.html"></div>
    <div data-include-path="../components/views/citerouge.view.html"></div>
    <div data-include-path="../components/footer.html"></div>
  </body>
</html>
