<section class="view_contianer">
  <div class="view_wrapper">
    <img class="view_backImg" src="./images/La-note-enchantee.jpg" alt="La-palette-du-gout" loading="lazy" />
    <div class="view_menuContainer">
      <article class="view_info">
        <h2 class="view_title">La note enchantée</h2>
        <div class="view_icon">
          <i class="fa-solid fa-heart"></i>
        </div>
      </article>
      <div class="view_itemWrapper">
        <article class="view_item">
          <div class="view_tite">
            <h2>ENTRÉES</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Ravioles de foie gras</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Accompagnés de leur crème à la truffe</h6>
                <span class="view_itemPrice"> 25€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Caviar osciètre</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Sur blini à la farine de blé noir</h6>
                <span class="view_itemPrice"> 35€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Homard et espuma de potiron</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Mariné aux zestes d'orange</h6>
                <span class="view_itemPrice"> 20€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Foie gras de canard cuit entier</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Confiture de figue et pain toasté</h6>
                <span class="view_itemPrice"> 35€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view_item">
          <div class="view_tite">
            <h2>PLATS</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Noix de coquilles Saint-Jacques</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Sur lit de purée de céleri-rave</h6>
                <span class="view_itemPrice">40€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Langoustine poêlée</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Purée de patate douce</h6>
                <span class="view_itemPrice">35€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Mijoté de queue de boeuf</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Et riz sauvage aux zestes de citron</h6>
                <span class="view_itemPrice">44€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view_item">
          <div class="view_tite">
            <h2>DESSERTS</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Macaron noisette et chocolat</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Glace au caramel brun et sel de Guérande</h6>
                <span class="view_itemPrice">18€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Baba au rhum revisité</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Avec son coulis de citron</h6>
                <span class="view_itemPrice">22€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Tarte au citron meringuée</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Déstructurée</h6>
                <span class="view_itemPrice">23€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="view_buttonContainer">
        <button class="view_button">Commander</button>
      </div>
    </div>
  </div>
</section>
