<section class="view">
  <div class="view__wrapper">
    <img class="view__backImg" src="../images/La-note-enchantee.jpg" alt="La-palette-du-gout" loading="lazy" />
    <div class="view__menuContainer">
      <article class="view__info">
        <h2 class="view__title">La note enchantée</h2>
        <div class="view__icon">
          <i class="fas fa-heart"></i>
        </div>
      </article>
      <div class="view__itemWrapper">
        <article class="view__item">
          <div class="view__tite">
            <h2>ENTRÉES</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Ravioles de foie gras</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Accompagnés de leur crème à la truffe</h6>
                <span class="view__itemPrice"> 25€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Caviar osciètre</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Sur blini à la farine de blé noir</h6>
                <span class="view__itemPrice"> 35€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Homard et espuma de potiron</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Mariné aux zestes d'orange</h6>
                <span class="view__itemPrice"> 20€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Foie gras de canard cuit entier</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Confiture de figue et pain toasté</h6>
                <span class="view__itemPrice"> 35€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view__item">
          <div class="view__tite">
            <h2>PLATS</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Noix de coquilles Saint-Jacques</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Sur lit de purée de céleri-rave</h6>
                <span class="view__itemPrice">40€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Langoustine poêlée</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Purée de patate douce</h6>
                <span class="view__itemPrice">35€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Mijoté de queue de boeuf</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Et riz sauvage aux zestes de citron</h6>
                <span class="view__itemPrice">44€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view__item">
          <div class="view__tite">
            <h2>DESSERTS</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Macaron noisette et chocolat</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Glace au caramel brun et sel de Guérande</h6>
                <span class="view__itemPrice">18€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Baba au rhum revisité</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Avec son coulis de citron</h6>
                <span class="view__itemPrice">22€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Tarte au citron meringuée</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Déstructurée</h6>
                <span class="view__itemPrice">23€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="view__buttonContainer">
        <button class="view__button">Commander</button>
      </div>
    </div>
  </div>
</section>
