<section class="view">
  <div class="view__wrapper">
    <img class="view__backImg" src="../images/a-la-francaise.jpg" alt="La-palette-du-gout" loading="lazy" />
    <div class="view__menuContainer">
      <article class="view__info">
        <h2 class="view__title">À la française</h2>
        <div class="view__icon">
          <i class="fa-solid fa-heart"></i>
        </div>
      </article>
      <div class="view__itemWrapper">
        <article class="view__item">
          <div class="view__tite">
            <h2>ENTRÉES</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Tartare de poulpe acidulé</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Aux zestes d'orange</h6>
                <span class="view__itemPrice"> 25€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Velouté de légumes d'antan</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Carotte, panais, topinambour</h6>
                <span class="view__itemPrice"> 35€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Soupe à l'oignon</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Revisitée</h6>
                <span class="view__itemPrice"> 20€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view__item">
          <div class="view__tite">
            <h2>PLATS</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Coquilles Saint-Jacques</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Accompagnées d'une purée de panais</h6>
                <span class="view__itemPrice">40€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Magret de canard</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Et parmentier de pommes de terre</h6>
                <span class="view__itemPrice">35€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Pigeonneau d’Ille-et-Vilaine</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Sur son lit de gnocchis aux légumes</h6>
                <span class="view__itemPrice">44€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view__item">
          <div class="view__tite">
            <h2>DESSERTS</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Pétales de violettes glacés</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Et purée de noisettes</h6>
                <span class="view__itemPrice">18€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Fondant au chocolat</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Revisité</h6>
                <span class="view__itemPrice">22€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Millefeuille croustillant</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Myrtilles et pâte d’amande</h6>
                <span class="view__itemPrice">23€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="view__buttonContainer">
        <button class="view__button">Commander</button>
      </div>
    </div>
  </div>
</section>
