<section class="view_contianer">
  <div class="view_wrapper">
    <img class="view_backImg" src="./images/a-la-francaise.jpg" alt="La-palette-du-gout" loading="lazy" />
    <div class="view_menuContainer">
      <article class="view_info">
        <h2 class="view_title">À la française</h2>
        <div class="view_icon">
          <i class="fa-solid fa-heart"></i>
        </div>
      </article>
      <div class="view_itemWrapper">
        <article class="view_item">
          <div class="view_tite">
            <h2>ENTRÉES</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Tartare de poulpe acidulé</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Aux zestes d'orange</h6>
                <span class="view_itemPrice"> 25€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Velouté de légumes d'antan</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Carotte, panais, topinambour</h6>
                <span class="view_itemPrice"> 35€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Soupe à l'oignon</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Revisitée</h6>
                <span class="view_itemPrice"> 20€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view_item">
          <div class="view_tite">
            <h2>PLATS</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Coquilles Saint-Jacques</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Accompagnées d'une purée de panais</h6>
                <span class="view_itemPrice">40€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Magret de canard</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Et parmentier de pommes de terre</h6>
                <span class="view_itemPrice">35€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Pigeonneau d’Ille-et-Vilaine</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Sur son lit de gnocchis aux légumes</h6>
                <span class="view_itemPrice">44€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view_item">
          <div class="view_tite">
            <h2>DESSERTS</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Pétales de violettes glacés</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Et purée de noisettes</h6>
                <span class="view_itemPrice">18€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Fondant au chocolat</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Revisité</h6>
                <span class="view_itemPrice">22€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Millefeuille croustillant</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Myrtilles et pâte d’amande</h6>
                <span class="view_itemPrice">23€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="view_buttonContainer">
        <button class="view_button">Commander</button>
      </div>
    </div>
  </div>
</section>
