<section class="view_contianer">
  <div class="view_wrapper">
    <img class="view_backImg" src="../../images/Le-delice-des-sens.jpg" alt="La-palette-du-gout" loading="lazy" />
    <div class="view_menuContainer">
      <article class="view_info">
        <h2 class="view_title">Le délice des sens</h2>
        <div class="view_icon">
          <i class="fa-solid fa-heart"></i>
        </div>
      </article>
      <div class="view_itemWrapper">
        <article class="view_item">
          <div class="view_tite">
            <h2>ENTRÉES</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Tartare de thon</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Assaisonné au yuzu</h6>
                <span class="view_itemPrice"> 25€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Bouchée de homard croustillant</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Et sa farandole de petits légumes</h6>
                <span class="view_itemPrice"> 35€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Velouté de cèpes</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Aux truffes</h6>
                <span class="view_itemPrice"> 20€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view_item">
          <div class="view_tite">
            <h2>PLATS</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Poulet rôti aux herbes de Provence</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Et sa crème de truffe</h6>
                <span class="view_itemPrice">40€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Langouste rôtie</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Et ses légumes de saison</h6>
                <span class="view_itemPrice">35€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Côte de boeuf Angus</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Et sa purée de panais</h6>
                <span class="view_itemPrice">44€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view_item">
          <div class="view_tite">
            <h2>DESSERTS</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Farandole de desserts</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Du chef</h6>
                <span class="view_itemPrice">18€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Crème brulée</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Revisitée</h6>
                <span class="view_itemPrice">22€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Tiramisu</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">À la noisette</h6>
                <span class="view_itemPrice">23€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="view_buttonContainer">
        <button class="view_button">Commander</button>
      </div>
    </div>
  </div>
</section>
