<section class="viewr">
  <div class="view__wrapper">
    <img class="view__backImg" src="../images/Le-delice-des-sens.jpg" alt="La-palette-du-gout" loading="lazy" />
    <div class="view__menuContainer">
      <article class="view__info">
        <h2 class="view__title">Le délice des sens</h2>
        <div class="view__icon">
          <i class="fa-solid fa-heart"></i>
        </div>
      </article>
      <div class="view__itemWrapper">
        <article class="view__item">
          <div class="view__tite">
            <h2>ENTRÉES</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Tartare de thon</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Assaisonné au yuzu</h6>
                <span class="view__itemPrice"> 25€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Bouchée de homard croustillant</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Et sa farandole de petits légumes</h6>
                <span class="view__itemPrice"> 35€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Velouté de cèpes</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Aux truffes</h6>
                <span class="view__itemPrice"> 20€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view__item">
          <div class="view__tite">
            <h2>PLATS</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Poulet rôti aux herbes de Provence</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Et sa crème de truffe</h6>
                <span class="view__itemPrice">40€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Langouste rôtie</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Et ses légumes de saison</h6>
                <span class="view__itemPrice">35€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Côte de boeuf Angus</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Et sa purée de panais</h6>
                <span class="view__itemPrice">44€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view__item">
          <div class="view__tite">
            <h2>DESSERTS</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Farandole de desserts</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Du chef</h6>
                <span class="view__itemPrice">18€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Crème brulée</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Revisitée</h6>
                <span class="view__itemPrice">22€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Tiramisu</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">À la noisette</h6>
                <span class="view__itemPrice">23€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="view__buttonContainer">
        <button class="view__button">Commander</button>
      </div>
    </div>
  </div>
</section>
