<section class="view_contianer">
  <div class="view_wrapper">
    <img class="view_backImg" src="../images/La-palette-du-gout.jpg" alt="La-palette-du-gout" loading="lazy" />
<!--   hotfix commit   -->
    <div class="view_menuContainer">
      <article class="view_info">
        <h2 class="view_title">La palette du goût</h2>
        <div class="view_icon">
          <i class="fa-solid fa-heart"></i>
        </div>
      </article>
      <div class="view_itemWrapper">
        <article class="view_item">
          <div class="view_tite">
            <h2>ENTRÉES</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Fricassée d'escargot</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Et ses copeaux de truffe noire</h6>
                <span class="view_itemPrice"> 25€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Foie gras de canard mi-cuit</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Et ses copeaux de truffe noire</h6>
                <span class="view_itemPrice"> 35€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Oeuf au plat</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Assaisonné à la truffe sur lit de caviar</h6>
                <span class="view_itemPrice"> 20€ </span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view_item">
          <div class="view_tite">
            <h2>PLATS</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Filet de boeuf aux herbes</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Accompagné de sa ribambelle de légumes</h6>
                <span class="view_itemPrice">40€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Parmentier de queue de boeuf</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">À la truffe noire sur sa purée de panais</h6>
                <span class="view_itemPrice">35€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Filet de turbot</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Aux agrumes</h6>
                <span class="view_itemPrice">44€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view_item">
          <div class="view_tite">
            <h2>DESSERTS</h2>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Paris-Brest</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Revisité</h6>
                <span class="view_itemPrice">18€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Macaron au chocolat d'exception</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Et glace à la vanille de Madagascar</h6>
                <span class="view_itemPrice">22€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view_itemContianer">
            <div class="view_itemBox">
              <h3 class="view_itemTitle">Mousse au chocolat</h3>
              <div class="view_itemSubContainer">
                <h6 class="view_itemSubTitle">Au piment d'Espelette et à la truffe noire</h6>
                <span class="view_itemPrice">23€</span>
              </div>
            </div>
            <div class="view_checkBox">
              <div class="view_check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="view_buttonContainer">
        <button class="view_button">Commander</button>
      </div>
    </div>
  </div>
</section>
