<section class="view">
  <div class="view__wrapper">
    <img class="view__backImg" src="../images/La-palette-du-gout.jpg" alt="La-palette-du-gout" loading="lazy" />
    <div class="view__menuContainer">
      <article class="view__info">
        <h2 class="view__title">La palette du goût</h2>
        <div class="view__icon">
          <i class="fas fa-heart"></i>
        </div>
      </article>
      <div class="view__itemWrapper">
        <article class="view__item">
          <div class="view__tite">
            <h2>ENTRÉES</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Fricassée d'escargot</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Et ses copeaux de truffe noire</h6>
                <span class="view__itemPrice"> 25€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Foie gras de canard mi-cuit</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Et ses copeaux de truffe noire</h6>
                <span class="view__itemPrice"> 35€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Oeuf au plat</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Assaisonné à la truffe sur lit de caviar</h6>
                <span class="view__itemPrice"> 20€ </span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view__item">
          <div class="view__tite">
            <h2>PLATS</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Filet de boeuf aux herbes</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Accompagné de sa ribambelle de légumes</h6>
                <span class="view__itemPrice">40€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Parmentier de queue de boeuf</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">À la truffe noire sur sa purée de panais</h6>
                <span class="view__itemPrice">35€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Filet de turbot</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Aux agrumes</h6>
                <span class="view__itemPrice">44€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
        <article class="view__item">
          <div class="view__tite">
            <h2>DESSERTS</h2>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Paris-Brest</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Revisité</h6>
                <span class="view__itemPrice">18€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Macaron au chocolat d'exception</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Et glace à la vanille de Madagascar</h6>
                <span class="view__itemPrice">22€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
          <div class="view__itemContianer">
            <div class="view__itemBox">
              <h3 class="view__itemTitle">Mousse au chocolat</h3>
              <div class="view__itemSubContainer">
                <h6 class="view__itemSubTitle">Au piment d'Espelette et à la truffe noire</h6>
                <span class="view__itemPrice">23€</span>
              </div>
            </div>
            <div class="view__checkBox">
              <div class="view__check">
                <i class="fa fa-check"></i>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="view__buttonContainer">
        <button class="view__button">Commander</button>
      </div>
    </div>
  </div>
</section>
