.footer {
  height: 200px;
  color: white;
  background-color: #333;
  box-sizing: border-box;
  display: flex;
  justify-content: left;
  align-items: center;
  &__Wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10vw;
  }
  &__TitleAnchor {
    font-family: "Shrikhand", cursive;
    color: white;
  }
  &__ItemList {
    margin-top: 10px;
  }
  &__Item {
    margin-bottom: 8px;
    .fas {
      width: 14px;
      height: 14px;
      font-size: var(--d14px);
      margin-right: 10px;
    }
  }
  &__ItemAnchor {
    color: white;
  }
  &__ItemEmail {
    color: white;
  }
}
