<footer class="footerContainer">
  <article class="footerWrapper">
    <h2 class="footerTitle">
      <a class="footerTitleAnchor" href="#">ohmyfood</a>
    </h2>
    <ul class="footerItemList">
      <li class="footerItem">
        <i class="fas fa-solid fa-utensils"></i>
        <a class="footerItemAnchor" href="#">
          Proposer un restaurant
        </a>
      </li>
      <li class="footerItem">
        <i class="fas fa-solid fa-handshake-angle"></i>
        <a class="footerItemAnchor" href="#">
          Devenir partenaire
        </a>
      </li>
      <li class="footerItem">
        <a class="footerItemAnchor" href="#">
          Mention légales
        </a>
      </li>
      <li class="footerItem">
        <a class="footerItemEmail" 
          href="mailto: someone@example.com">
          Contact
        </a>
      </li>
    </ul>
  </div>
</footer>
