<div class="functionContainer">
  <section class="functionWrapper">
    <article class="funtionNameTag">
      <h2 class="functionTitle">Fonctionnement</h2>
    </article>
    <div class="functioItemContainer">
      <article class="functioItem">
        <div class="functioItemNum">1</div>
        <i class="fas fa-mobile-alt"></i>
        <h2 class="functioItemTitle">Choisissez un restaurant</h2>
      </article>
      <article class="functioItem">
        <div class="functioItemNum">2</div>
        <i class="fas fa-list-ul"></i>
        <h2 class="functioItemTitle">Composez votre menu</h2>
      </article>
      <article class="functioItem">
        <div class="functioItemNum">3</div>
        <i class="fas fa-store"></i>
        <h2 class="functioItemTitle">Dégustez au restaurant</h2>
      </article>
    </div>
  </section>
</div>
