.headerSubContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  background-color: var(--color-white);

  .headerSubWarpper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 85px;

    .left {
      flex: 1;
      display: flex;
      height: 85px;
      align-items: center;

      a {
        margin-left: 2rem;
        .fa {
          font-size: var(--d30px);
          color: var(--color-black);
        }
      }
    }

    .center {
      flex: 1;
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;
      .headerSubLogo {
        width: 185px;
        height: 30px;
        background-image: url("../images/ohmyfood.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .right {
      flex: 1;
      height: 85px;
    }
  }
}
