.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
  background-color: var(--color-white);

  &__Warpper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__Logo {
    width: 185px;
    height: 30px;
    background-image: url("../images/ohmyfood.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
