.reserveContainer {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-moinwhite);

  .reserveWrapper {
    height: inherit;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;

    .reserveTitle {
      font-weight: bold;
      margin-bottom: 20px;
      padding: 0px 45px;
    }
    .reserveDesc {
      font-weight: 300;
      margin-bottom: 20px;
      padding: 0px 30px;
    }
    .reserveButton {
      padding: 15px 25px;
      border: none;
      outline: none;
      border-radius: 25px;
      color: var(--color-white);
      font-size: 18px;

      background: linear-gradient(-3deg, var(--color-primaire) 20%, var(--color-secondaire) 100%);

      box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);

      &:hover {
        filter: brightness(110%);
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
      }
    }
  }
}
