<div class="restaurantContainer">
  <section class="restaurantWrapper">
    <article class="restaurantNameTag">
      <h2 class="restaurantTitle">Restaurants</h2>
    </article>
    <div class="restaurantItemContainer">
      <a href="./views/menilmontant.html">
        <article class="restaurantItem">
          <div class="restaurantItemImage">
            <div class="newTag">Nouveau</div>
          </div>
          <div class="restaurantItemInfo">
            <div class="restaurantItemText">
              <h3 class="restaurantItemTitle">La palette du goût</h3>
              <p class="restaurantItemDesc">Ménilmontant</p>
            </div>
            <div class="restaurantItemHeart">
              <i class="fa-solid fa-heart"></i>
            </div>
          </div>
        </article>
      </a>
      <a href="./views/charonne.html">
        <article class="restaurantItem">
          <div class="restaurantItemImage">
            <div class="newTag">Nouveau</div>
          </div>
          <div class="restaurantItemInfo">
            <div class="restaurantItemText">
              <h3 class="restaurantItemTitle">La note enchantée</h3>
              <p class="restaurantItemDesc">Charonne</p>
            </div>
            <div class="restaurantItemHeart">
              <i class="fa-solid fa-heart"></i>
            </div>
          </div>
        </article>
      </a>
      <a href="./views/citerouge.html">
        <article class="restaurantItem">
          <div class="restaurantItemImage"></div>
          <div class="restaurantItemInfo">
            <div class="restaurantItemText">
              <h3 class="restaurantItemTitle">À la française</h3>
              <p class="restaurantItemDesc">Cité Rouge</p>
            </div>
            <div class="restaurantItemHeart">
              <i class="fa-solid fa-heart"></i>
            </div>
          </div>
        </article>
      </a>
      <a href="./views/foliemericourt.html">
        <article class="restaurantItem">
          <div class="restaurantItemImage"></div>
          <div class="restaurantItemInfo">
            <div class="restaurantItemText">
              <h3 class="restaurantItemTitle">Le délice des sens</h3>
              <p class="restaurantItemDesc">Folie-Méricourt</p>
            </div>
            <div class="restaurantItemHeart">
              <i class="fa-solid fa-heart"></i>
            </div>
          </div>
        </article>
      </a>
    </div>
  </section>
</div>
