@media all and (min-width: 768px) {
  .footer {
    height: 150px;
    display: flex;
    justify-content: center;
    &__Wrapper {
      padding-left: 0vw;
    }
    &__Title {
      margin: auto;
    }
    &__ItemList {
      display: flex;
      margin-top: 20px;
    }
    &__Item {
      margin-right: 20px;
      .fas {
        margin-right: 0px;
      }
    }
  }
}
