@media all and (min-width: 1280px) {
  .restaurantContainer {
    .restaurantWrapper {
      display: flex;
      flex-direction: column;
      .restaurantItemContainer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
        .restaurantItem {
          display: flex;
          width: 500px;
          height: 400px;
        }
      }
    }
  }
}

@media all and (min-width: 1380px) {
  .restaurantContainer {
    .restaurantWrapper {
      .restaurantItemContainer {
        gap: 10px;
        a {
          .restaurantItem {
            width: 520px;
            height: 400px;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1440px) {
  .restaurantContainer {
    .restaurantWrapper {
      .restaurantItemContainer {
        gap: 10px;
        a {
          .restaurantItem {
            width: 550px;
            height: 400px;
          }
        }
      }
    }
  }
}

@media all and (min-width: 1570px) {
  .restaurantContainer {
    .restaurantWrapper {
      .restaurantItemContainer {
        gap: 10px;
        a {
          .restaurantItem {
            width: 600px;
            height: 400px;
          }
        }
      }
    }
  }
}
