@media all and (min-width: 768px) {
  .view {
    &__backImg {
      height: 700px;
    }
    &__menuContainer {
      margin-top: -400px;
    }
    &__info {
      justify-content: space-between;
      padding: 0 2.3rem;
    }
    &__itemWrapper {
      padding: 0 1.2rem;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
    &__item {
      margin-bottom: 1rem;
      width: 48%;
    }
  }
}
