@media all and (min-width: 768px) {
  .view_contianer {
    .view_wrapper {
      .view_backImg {
        height: 700px;
      }
      .view_menuContainer {
        margin-top: -400px;

        .view_info {
          justify-content: space-between;
          padding: 0 2.3rem;
        }
        .view_itemWrapper {
          padding: 0 1.2rem;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          gap: 0.5rem;

          .view_item {
            margin-bottom: 1rem;
            width: 48%;
          }
        }
      }
    }
  }
}
