@media all and (min-width: 768px) {
  .footer {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__Wrapper {
    padding-left: 0vw;
  }
  .footer__Title {
    margin: auto;
  }
  .footer__ItemList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .footer__Item {
    margin-right: 20px;
  }
  .footer__Item .fas {
    margin-right: 0px;
  }
}
