.functionContainer {
  height: 500px;
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functionContainer .functionWrapper {
  width: 80%;
  height: 75%;
}

.functionContainer .functionWrapper .funtionNameTag {
  margin-bottom: 30px;
  margin-left: -10px;
}

.functionContainer .functionWrapper .funtionNameTag .functionTitle {
  font-weight: bold;
  font-size: var(--m24px);
}

.functionContainer .functionWrapper .functioItemContainer .functioItem {
  background-color: var(--color-moinwhite);
  padding: 30px 30px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.functionContainer .functionWrapper .functioItemContainer .functioItem:hover {
  background-color: #f5edff;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.functionContainer .functionWrapper .functioItemContainer .functioItem:hover:hover .fas {
  color: var(--color-primaire);
}

.functionContainer .functionWrapper .functioItemContainer .functioItem .functioItemNum {
  position: static;
  width: 25px;
  height: 25px;
  background-color: var(--color-primaire);
  color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  font-size: var(--m16px);
  -webkit-transform: translate(-170%, 0%);
          transform: translate(-170%, 0%);
}

.functionContainer .functionWrapper .functioItemContainer .functioItem .fas {
  font-size: var(--m20px);
  margin-left: -20px;
  margin-right: 20px;
  color: var(--color-light2black);
}

.functionContainer .functionWrapper .functioItemContainer .functioItem .functioItemTitle {
  font-size: var(--m16px);
}
