.restaurantContainer {
  height: 100%;
  background-color: var(--color-moinwhite);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 55px 0px;
}

.restaurantContainer .restaurantWrapper {
  width: 80%;
  margin-left: -8px;
}

.restaurantContainer .restaurantWrapper .restaurantNameTag .restaurantTitle {
  font-weight: bold;
  font-size: var(--m24px);
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a {
  margin-top: 20px;
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a:nth-child(1) .restaurantItemImage {
  background-image: url("../images/La-palette-du-gout.jpg");
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a:nth-child(2) .restaurantItemImage {
  background-image: url("../images/La-note-enchantee.jpg");
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a:nth-child(3) .restaurantItemImage {
  background-image: url("../images/a-la-francaise.jpg");
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a:nth-child(4) .restaurantItemImage {
  background-image: url("../images/Le-delice-des-sens.jpg");
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a .restaurantItem {
  background-color: var(--color-white);
  border-radius: 12px;
  height: 220px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a .restaurantItem:hover {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a .restaurantItem .restaurantItemImage {
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a .restaurantItem .restaurantItemImage .newTag {
  width: 100px;
  padding: 8px 12px;
  text-align: center;
  background-color: var(--color-tertiaire);
  font-size: var(--d16px);
  border-radius: 3px;
  font-weight: 400;
  position: absolute;
  top: 5%;
  right: 3%;
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a .restaurantItem .restaurantItemInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 15px;
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a .restaurantItem .restaurantItemInfo .restaurantItemText .restaurantItemTitle {
  font-weight: bold;
  margin-bottom: 10px;
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a .restaurantItem .restaurantItemInfo .restaurantItemText .restaurantItemDesc {
  font-weight: 300;
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a .restaurantItem .restaurantItemInfo .restaurantItemHeart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a .restaurantItem .restaurantItemInfo .restaurantItemHeart .fas {
  font-size: var(--m24px);
  font-weight: 100;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.restaurantContainer .restaurantWrapper .restaurantItemContainer a .restaurantItem .restaurantItemInfo .restaurantItemHeart .fas:hover {
  font-weight: 800;
  background: linear-gradient(205deg, var(--color-primaire) 20%, var(--color-secondaire) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
