:root {
  --color-black: #000000;
  --color-lightblack: #353535;
  --color-white: #ffffff;
  --color-moinwhite: #f6f6f6;
  --color-deepwhite: #eeeeee;
  --color-primaire: #9356dc;
  --color-lightprimaire: #f5edff;
  --color-secondaire: #ff79da;
  --color-tertiaire: #99e2d0;
  --d10px: 0.63rem;
  --d12px: 0.75rem;
  --d14px: 0.88rem;
  --d16px: 1rem;
  --d18px: 1.13rem;
  --d20px: 1.25rem;
  --d24px: 1.5rem;
  --d30px: 1.88rem;
  --d32px: 2rem;
  --m10px: 0.63em;
  --m12px: 0.75em;
  --m14px: 0.88em;
  --m16px: 1em;
  --m18px: 1.13em;
  --m20px: 1.25em;
  --m24px: 1.5em;
  --m30px: 1.88em;
  --m32px: 2em;
}
