.view {
  height: 100%;
}

.view__wrapper {
  height: inherit;
}

.view__backImg {
  width: 100%;
  height: 320px;
}

.view__menuContainer {
  position: relative;
  margin-top: -35px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  background-color: var(--color-deep2white);
  padding: 1rem 0;
}

.view__buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

.view__button {
  padding: 15px 25px;
  border: none;
  outline: none;
  border-radius: 25px;
  color: var(--color-white);
  font-size: 18px;
  background: linear-gradient(-3deg, var(--color-primaire) 20%, var(--color-secondaire) 100%);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.view__button:hover {
  -webkit-filter: brightness(110%);
          filter: brightness(110%);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.view__info {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view__title {
  font-family: "Shrikhand";
  font-weight: bold;
  font-size: var(--m30px);
}

.view__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view__icon .fa-heart {
  font-size: var(--m24px);
  font-weight: 100;
  cursor: pointer;
}

.view__icon .fa-heart:hover {
  font-weight: 800;
  background: linear-gradient(205deg, var(--color-primaire) 20%, var(--color-secondaire) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.view__itemWrapper {
  padding: 0 1rem;
  height: 100%;
}

.view__tite {
  font-size: var(--m14px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: underline;
  text-underline-position: under;
  -webkit-text-decoration-color: var(--color-tertiaire);
          text-decoration-color: var(--color-tertiaire);
  text-decoration-thickness: 0.2rem;
  margin-bottom: 1rem;
}

.view__itemContianer {
  cursor: pointer;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.view__itemContianer:hover {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

.view__itemContianer:hover .view__checkBox {
  width: 80px;
}

.view__itemContianer:hover .view__check {
  -webkit-animation: checkicon 0.4s linear both;
          animation: checkicon 0.4s linear both;
}

.view__itemContianer:hover .view__itemTitle {
  font-size: 0.938rem;
}

.view__itemContianer:hover .view__itemSubTitle {
  font-size: 0.813rem;
}

.view__itemContianer:nth-child(1) {
  -webkit-animation: fade 1000ms ease-in-out 200ms both;
          animation: fade 1000ms ease-in-out 200ms both;
}

.view__itemContianer:nth-child(2) {
  -webkit-animation: fade 1000ms ease-in-out 400ms both;
          animation: fade 1000ms ease-in-out 400ms both;
}

.view__itemContianer:nth-child(3) {
  -webkit-animation: fade 1000ms ease-in-out 600ms both;
          animation: fade 1000ms ease-in-out 600ms both;
}

.view__itemContianer:nth-child(4) {
  -webkit-animation: fade 1000ms ease-in-out 800ms both;
          animation: fade 1000ms ease-in-out 800ms both;
}

.view__itemContianer:nth-child(5) {
  -webkit-animation: fade 1000ms ease-in-out 1000ms both;
          animation: fade 1000ms ease-in-out 1000ms both;
}

.view__itemBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

.view__itemTitle {
  font-size: var(--m16px);
  font-weight: bold;
  margin-bottom: 0.5rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.view__itemSubContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view__itemSubTitle {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  font-size: var(--m14px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.view__itemPrice {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: end;
  font-size: var(--m14px);
  font-weight: bold;
}

.view__checkBox {
  position: relative;
  width: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-tertiaire);
  position: relative;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.view__check {
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.view__check .fa {
  font-weight: bold;
  font-size: var(--m14px);
  color: var(--color-tertiaire);
}

@-webkit-keyframes checkicon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes checkicon {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes fade {
  0% {
    margin-bottom: 1.75rem;
    opacity: 0;
  }
  50% {
    margin-bottom: 1.35rem;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    margin-bottom: 1.75rem;
    opacity: 0;
  }
  50% {
    margin-bottom: 1.35rem;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
