@media all and (min-width: 768px) {
  .view_contianer .view_wrapper .view_backImg {
    height: 700px;
  }
  .view_contianer .view_wrapper .view_menuContainer {
    margin-top: -400px;
  }
  .view_contianer .view_wrapper .view_menuContainer .view_info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2.3rem;
  }
  .view_contianer .view_wrapper .view_menuContainer .view_itemWrapper {
    padding: 0 1.2rem;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.5rem;
  }
  .view_contianer .view_wrapper .view_menuContainer .view_itemWrapper .view_item {
    margin-bottom: 1rem;
    width: 48%;
  }
}
